# Firebase Config Example
VITE_API_KEY=your-api-key
VITE_AUTH_DOMAIN=your-app.firebaseapp.com
VITE_PROJECT_ID=your-project-id
VITE_STORAGE_BUCKET=your-app.appspot.com
VITE_MESSAGING_SENDER_ID=your-messaging-id
VITE_APP_ID=your-app-id